<%= render 'flight_filters' %>

<div id="flight_filters_result">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>
        Departure
      </th>
      <th>
        Destination
      </th>
      <th>
        Flight Date
      </th>
      <th>
        Duration
      </th>
      <th>
        Price
      </th>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <% @flights.each do |flight|%>
      <tr>
        <td>
          <%= flight.from_airport.name%>
        </td>
        <td>
          <%= flight.to_airport.name%>
        </td>
        <td>
          <%= flight.flight_date.strftime('%m/%d/%Y %H:%m')%>
        </td>
        <td>
          <%= flight.duration%>
        </td>
        <td>
          $<%= flight.price%>
        </td>
        <td>
          <%= link_to 'Book', new_booking_path(flight_id: flight.id), class: "btn btn-primary" %>
        </td>
      </tr>
      <% end %>
      <% if  @flights.blank?%>
        <tr>
          <td colspan="6"><i class="fa fa-warning"></i> No Flight Available</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @flights, params: {page: params[:page] || 1} %>