<h3>Your Bookings</h3>

<div id="flight_filters_result">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>
        Departure
      </th>
      <th>
        Destination
      </th>
      <th>
        Flight Date
      </th>
      <th>
        Duration
      </th>
      <th>
        Price
      </th>
      <th>
        Status
      </th>
      <th>
        View
      </th>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <% @bookings.each do |booking|%>
      <% flight = booking.flight%>
      <tr>
        <td>
          <%= flight.from_airport.name%>
        </td>
        <td>
          <%= flight.to_airport.name%>
        </td>
        <td>
          <%= flight.flight_date.strftime('%m/%d/%Y %H:%m')%>
        </td>
        <td>
          <%= flight.duration%>
        </td>
        <td>
          <%= flight.price%>
        </td>
        <td>
          <%= booking.status%>
        </td>
        <td>
          <%= link_to 'View', booking_path(booking), class: "btn btn-primary" %>
        </td>
        <td>
          <%= link_to 'Cancel', booking_path(booking), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
      <% end %>
      <% if  @bookings.blank?%>
        <tr>
          <td colspan="8"><i class="fa fa-warning"></i>You have No bookings</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>