<h3>Booking No#<%= @booking.id%></h3>

<div id="flight_filters_result">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>
        Departure
      </th>
      <th>
        Destination
      </th>
      <th>
        Flight Date
      </th>
      <th>
        Duration
      </th>
      <th>
        Price
      </th>
      <th>
        Status
      </th>
      <th>
        Pay
      </th>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
      <% flight = @booking.flight%>
      <tr>
        <td>
          <%= flight.from_airport.name%>
        </td>
        <td>
          <%= flight.to_airport.name%>
        </td>
        <td>
          <%= flight.flight_date.strftime('%m/%d/%Y %H:%m')%>
        </td>
        <td>
          <%= flight.duration%>
        </td>
        <td>
          $ <%= flight.price%>
        </td>
        <td>
          <%= @booking.status%>
        </td>
        <td>
        <% if @booking.stripe_charge_id.present?%>
          <%= link_to 'Payment Details', booking_charges_path(@booking) %>
        <% else%>
            <%= form_tag booking_charges_path(@booking) do %>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-description="Booking Payment"
                      data-amount="<%flight.price%>"
                      data-email="<%= current_user.email %>"
                      data-locale="auto">
              </script>
            <% end %>
        <% end %>
        </td>
        <td>
          <%= link_to 'Cancel', booking_path(@booking),data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <hr>
  <%= render 'passengers_info' %>
</div>