<h3>Your Booking</h3>

<div id="flight_filters_result">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>
        Departure
      </th>
      <th>
        Destination
      </th>
      <th>
        Flight Date
      </th>
      <th>
        Duration
      </th>
      <th>
        Status
      </th>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
      <% flight = @booking.flight%>
      <tr>
        <td>
          <%= flight.from_airport.name%>
        </td>
        <td>
          <%= flight.to_airport.name%>
        </td>
        <td>
          <%= flight.flight_date.strftime('%m/%d/%Y %H:%m')%>
        </td>
        <td>
          <%= flight.duration%>
        </td>
        <td>
          <%= @booking.status%>
        </td>
        <td>
          <%= link_to 'Cancel', booking_path(@booking), method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <hr>
  <h3>Passengers Info</h3>
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>
        Passenger Name
      </th>
      <th>
        Passenger Email
      </th>
    </tr>
    </thead>
    <tbody>
    <% @booking.passengers.each do |passenger|%>
      <tr>
        <td>
          <%= passenger.name%>
        </td>
        <td>
          <%= passenger.email%>
        </td>
      </tr>
    <% end%>
    <% if @booking.passengers.blank?%>
        <tr>
          <td colspan="2"><i class="fa fa-warning"></i>This bookings has no passenger info</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>