<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <% if notice.present?%>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert.present?%>
      <p class="alert alert-warning"><%= alert %></p>
    <% end %>
    <div class="container pt-3">
      <%= yield %>
    </div>
  </body>
</html>
